<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Disappearing Ninjas</title>
    <link rel='stylesheet' href=''>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
        });
    </script>
    <style>
        .tiny {
            font-size: 9px;
        }
    </style>
</head>
<body>
    <h1>No Ninja's here, ninja!</h1>
    <hr>
    <a href='/ninjas' class='tiny'>There might be some here though</a>
</body>
</html>