<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>About Me</title>
    <link rel='stylesheet' href=''>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
        });
    </script>
    <style>
        * {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This page should be about me buuuut...</h1>
    <h4>Thats a lot of work</h4>
    <hr>
    <a href='/'>Go Home</a>
</body>
</html>