<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Testimonials</title>
    <link rel='stylesheet' href='Insert Stylesheet Link'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
        });
    </script>
    <style>
        .right {
            text-align: right;
        }
        
        .left {
            text-align: left;
        }
    </style>
</head>
<body>
    <h3> Testimonials </h3>
    <div class='right'>
        <p>"This is filler text to the right"</p>
    </div>
    <div class='left'>
        <p>"This is filler text to the left"</p>
    </div>

    <a href='/'>Go home</a>
</body>
</html>