<h1>Secrets</h1>

<% @secrets.each do |secret| %>
    <p><%= secret %><p>
    <% if secret.user_id == current_user.id %>
        <a href='/secret/<%= secret.id %>'/destroy>Delete</a>
    <% end %>
<% end %>
