<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Dojo Survey</title>
    <link rel='stylesheet' href=''>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
        });
    </script>
</head>
<body>
    <form action='/process', method='POST'>
        Your Name: <input type='text' name='name'>
        <br>
        Dojo Location: <select name='location'>
            <option value='Washington, DC'>DC</option>
            <option value='San Jose'>San Jose</option>
            <option value='Seattle'>Seattle</option>
        </select>
        <br>
        Favorite Language: <select name='language'>
            <option value='Python'>Python</option>
            <option value='JavaScript'>JavaScript</option>
            <option value='Java'>Java</option>
        </select>
        <br>
        <textarea name='comments' rows='4' cols='50'></textarea>
        <br>
        <input type='submit'>
    </form>
</body>
</html>