<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>New Car |</title>
    <link rel='stylesheet' href='/stylesheets/carsStyle.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
        });
    </script>
</head>
<body>
    <fieldset>
        <legend>Add a new vehicle</legend>
        <form method='post'>
            <label for='make'>Make: </label>
            <input type='text' name='make'>
            <hr>
            <label for='model'>Model: </label>
            <input type='text' name='model'>
            <hr>
            <input type='submit'>
        </form>
    </fieldset>
</body>
</html>